@tailwind base;
@tailwind components;
@tailwind utilities;


/* secondary  color 

  *  6556CD

  primery color 

  * 1F1E24
*/

::-webkit-scrollbar {
  background-color: #1F1E24;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #1F1E24;
  scroll-behavior: smooth;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #6556CD;
  
  border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #272727;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
  display: none;
}


.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: #27272a;
  overflow: hidden;
  border-radius: 0.25em;

}



/* This code styles the dropdown arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background: #27272a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

/* This code styles the dropdown arrow on hover */
.select:hover::after {
  color: #6156cd;
}